bgColor = #303133
text-light = #f8f9fa
text-hover = rgba(255,255,255,.5)
text-active = #808695
dashed-border = #DCDFE6
btn-dark()
  background-color bgColor
  font-size 14px
  color text-light
  width 80px
  height 30px
  line-height 30px
  border none
  outline none
  margin 0 10px
  cursor pointer
  &:active 
    opacity 0.8